https://github.com/jturkewitz/SideProjects/blob/master/Kaggle/Telstra/telstra.py

In [1]:
import pandas as pd
import numpy as np
import os
import random
import timeit

In [2]:
#tic0 = timeit.default_timer()
tic = timeit.default_timer()
datadirraw = '../data/raw'
datadirprocessed = '../data/processed'
train = pd.read_csv(os.path.join(datadirraw, 'train.csv') , header=0)
test = pd.read_csv(os.path.join(datadirraw, 'test.csv') , header=0)
severity_type = pd.read_csv(os.path.join(datadirraw, 'severity_type.csv'), header=0)
log_feature = pd.read_csv(os.path.join(datadirraw, 'log_feature.csv'), header=0)
event_type = pd.read_csv(os.path.join(datadirprocessed, 'event_type2.csv'), header=0)
resource_type = pd.read_csv(os.path.join(datadirprocessed, 'resource_type2.csv'), header=0)

toc = timeit.default_timer()
print('Load time: ',toc-tic)

Load time:  0.7513363149999996

In [3]:
severity_type['severity_type'].map(lambda x: x.replace(' ','_')).head(4)
severity_type['severity_type'].map(lambda x: x[-1]).head(4)

0    2
1    2
2    2
3    1
Name: severity_type, dtype: object

In [4]:
severity_type['severity_type'] = severity_type['severity_type'].map(lambda x: x.replace(' ','_'))
severity_type['severity_type'] = severity_type['severity_type'].map(lambda x: x[-1])

In [5]:
event_type['event_type'] = event_type['event_type'].map(lambda x: x.replace(' ', '_'))
#event_type['event_type'] = event_type['event_type'].map(lambda x: x[11:]).astype(int)

In [6]:
event_type['event_type'] = event_type['event_type'].map(lambda x: x[11:]).astype(int)

In [7]:
event_type_dummies = pd.get_dummies(event_type,columns=['event_type'])

In [8]:
event_type_dummies.shape

(31170, 54)

In [9]:
resource_type['resource_type'] = resource_type['resource_type'].map(lambda x: x[14:]).astype(int)

In [10]:
resource_type_dummies = pd.get_dummies(resource_type, columns=['resource_type'])

In [11]:
resource_type_dummies.head()

,id,resource_type_1,resource_type_2,resource_type_3,resource_type_4,resource_type_5,resource_type_6,resource_type_7,resource_type_8,resource_type_9,resource_type_10
0,6597,0,0,0,0,0,0,0,1,0,0
1,8011,0,0,0,0,0,0,0,1,0,0
2,2597,0,0,0,0,0,0,0,1,0,0
3,5022,0,0,0,0,0,0,0,1,0,0
4,6852,0,0,0,0,0,0,0,1,0,0

In [12]:
resource_type['resource_type'].head(5)
resource_type['resource_type'].shift(1).head(5)
resource_type['resource_type'].value_counts()

resource_type['resource_shifted_up'] = resource_type['resource_type'].shift(1)
resource_type['resource_shifted_up'].fillna(8, inplace=True)

In [13]:
resource_type['is_next_resource_type_repeat'] = 0
resource_type['is_next_resource_type_different'] = 0

In [14]:
repeat_cond = resource_type['resource_type'] == resource_type['resource_shifted_up']

In [15]:
resource_type['is_next_resource_type_repeat'][repeat_cond] = 1
resource_type['is_next_resource_type_different'][~repeat_cond] = 1

C:\Users\jthe\Anaconda3\envs\spatial\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\jthe\Anaconda3\envs\spatial\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
resource_type[resource_type['is_next_resource_type_repeat'] == 0]

resource_type[24:27]

,id,resource_type,resource_shifted_up,is_next_resource_type_repeat,is_next_resource_type_different
24,5259,8,8.0,1,0
25,5259,2,8.0,0,1
26,12751,8,2.0,0,1

In [17]:
resource_type['switches_resource_type'] = resource_type['is_next_resource_type_different'].cumsum()

In [18]:
log_feature.head(3)

     id log_feature  volume
0  6597  feature 68       6
1  8011  feature 68       7
2  2597  feature 68       1

In [19]:
log_feature['log_feature'] = log_feature['log_feature'].map(lambda x: x.replace(' ','_'))
log_feature['log_feature'] = log_feature['log_feature'].map(lambda x: x[8:]).astype(int)
log_feature['log_feature'].dtypes

dtype('int32')

In [20]:
log_feature.index

RangeIndex(start=0, stop=58671, step=1)

In [21]:
log_feature.rename(columns={'index':'count_of_log_feature_seen'},inplace=True)

In [23]:
log_feature.head(3)

     id  log_feature  volume
0  6597           68       6
1  8011           68       7
2  2597           68       1

In [22]:
log_feature_value_counts = log_feature['log_feature'].value_counts().to_dict()

In [24]:
log_feature['num_ids_with_log_feature'] = log_feature['log_feature'].map(lambda x:log_feature_value_counts[x])

In [25]:
log_feature.head(5)

     id  log_feature  volume  num_ids_with_log_feature
0  6597           68       6                      1093
1  8011           68       7                      1093
2  2597           68       1                      1093
3  5022          172       2                       214
4  5022           56       1                       244

In [26]:
bins = [i for i in range(-10,410,10)]

In [28]:
log_feature['binned_log_feature'] = np.digitize(log_feature['log_feature'], bins, right=True)

In [27]:
log_feature.head(20)

       id  log_feature  volume  num_ids_with_log_feature
0    6597           68       6                      1093
1    8011           68       7                      1093
2    2597           68       1                      1093
3    5022          172       2                       214
4    5022           56       1                       244
5    5022          193       4                      1160
6    5022           71       3                      1514
7    6852          201       2                       902
8    6852           56       1                       244
9    6852           80       2                      1336
10   5611           80       2                      1336
11  14838          203       5                      2823
12  14838           82       8                      3472
13  14838           80       9                      1336
14   2588           82       9                      3472
15   2588          201       5                       902
16   2588           80      15                      1336
17   2588          203       5                      2823
18   4848           56       3                       244
19   4848           80      16                      1336

In [29]:
bins_offset = list(map(lambda x:x+5, bins))

In [30]:
log_feature['binned_offset_log_feature'] = np.digitize(log_feature['log_feature'], bins_offset, right=True)

In [32]:
log_feature['position_of_log_feature'] = 1

In [33]:
log_feature['position_of_log_feature'] = log_feature.groupby(by=['id'])['position_of_log_feature'].cumsum()

In [34]:
log_feature['log_feature'] = log_feature['log_feature'].astype(int)

In [35]:
log_feature[log_feature['id'].isin([4593,14838])].sort_values(by=['id','position_of_log_feature'])

,id,log_feature,volume,num_ids_with_log_feature,binned_log_feature,binned_offset_log_feature,position_of_log_feature
33562,4593,236,5,94,25,25,1
33563,4593,314,73,950,33,32,2
33564,4593,235,1,1294,25,24,3
33565,4593,234,65,882,25,24,4
33566,4593,228,42,438,24,24,5
33567,4593,310,9,399,32,32,6
33568,4593,309,68,627,32,32,7
33569,4593,312,88,5267,33,32,8
33570,4593,315,1,1495,33,32,9
33571,4593,313,11,2145,33,32,10
33572,4593,308,55,484,32,32,11
33573,4593,311,11,73,33,32,12
33574,4593,232,87,4754,25,24,13
33575,4593,230,4,367,24,24,14
33576,4593,233,6,1901,25,24,15
33577,4593,229,80,560,24,24,16
33578,4593,316,7,152,33,33,17
33579,4593,231,5,29,25,24,18
11,14838,203,5,2823,22,21,1
12,14838,82,8,3472,10,9,2
13,14838,80,9,1336,9,9,3

In [36]:
temp_combined = pd.concat((train, test), axis=0, ignore_index=True)

C:\Users\jthe\Anaconda3\envs\spatial\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [37]:
temp_combined.tail(3)

       fault_severity    id      location
18549             NaN  2374  location 917
18550             NaN  7277  location 208
18551             NaN  9886  location 438

In [38]:
event_type_combined = pd.merge(temp_combined, event_type, how='left', left_on=['id'], right_on=['id'] )

In [39]:
event_type_combined.head(10)

   fault_severity     id      location  event_type
0             1.0  14121  location 118          34
1             1.0  14121  location 118          35
2             0.0   9320   location 91          34
3             0.0   9320   location 91          35
4             1.0  14394  location 152          35
5             1.0  14394  location 152          34
6             1.0   8218  location 931          15
7             1.0   8218  location 931          11
8             0.0  14804  location 120          34
9             0.0  14804  location 120          11

In [40]:
event_type_combined.sort_index()

       fault_severity     id       location  event_type
0                 1.0  14121   location 118          34
1                 1.0  14121   location 118          35
2                 0.0   9320    location 91          34
3                 0.0   9320    location 91          35
4                 1.0  14394   location 152          35
5                 1.0  14394   location 152          34
6                 1.0   8218   location 931          15
7                 1.0   8218   location 931          11
8                 0.0  14804   location 120          34
9                 0.0  14804   location 120          11
10                0.0  14804   location 120          36
11                0.0  14804   location 120          20
12                0.0   1080   location 664          11
13                0.0   9731   location 640          50
14                0.0  15505   location 122          34
15                0.0  15505   location 122          35
16                1.0   3443   location 263          34
17                1.0   3443   location 263          35
18                1.0  13300   location 613          54
19                1.0  13300   location 613          15
20                1.0   8976   location 760          11
21                1.0   8976   location 760           2
22                0.0   7965   location 519          34
23                0.0   7965   location 519          35
24                0.0  10342   location 746          11
25                0.0  10342   location 746          20
26                1.0   6741  location 1066          11
27                1.0   6741  location 1066          13
28                0.0   7187   location 812          11
29                0.0  16780   location 343          34
...               ...    ...            ...         ...
31140             NaN  15449   location 181          35
31141             NaN  13628   location 326          35
31142             NaN  13628   location 326          34
31143             NaN  16217   location 518          35
31144             NaN   9387   location 709          11
31145             NaN  11008   location 883          11
31146             NaN    806   location 938          11
31147             NaN    806   location 938           8
31148             NaN   9406   location 102          34
31149             NaN   9406   location 102          35
31150             NaN   7520   location 124          34
31151             NaN   7520   location 124          35
31152             NaN   6446  location 1010          11
31153             NaN   9063   location 972          11
31154             NaN   9063   location 972          32
31155             NaN  11825     location 2          13
31156             NaN  11825     location 2          18
31157             NaN  11825     location 2          11
31158             NaN   8982   location 638          44
31159             NaN   8982   location 638          42
31160             NaN   2356   location 806          23
31161             NaN   2356   location 806          11
31162             NaN  14806  location 1073          11
31163             NaN   1825    location 11          11
31164             NaN   2374   location 917          11
31165             NaN   2374   location 917          27
31166             NaN   7277   location 208          35
31167             NaN   9886   location 438          20
31168             NaN   9886   location 438          35
31169             NaN   9886   location 438          34

[31170 rows x 4 columns]

In [41]:
# #139
most_commonn_event_type_dict = event_type_combined.groupby(['location'])['event_type'].agg(lambda x: x.value_counts().index[0]).to_dict()
#event_type_combined.groupby(['location']).count()

In [42]:
most_commonn_event_type_dict['location 1']

15

In [43]:
event_type_no_dups = event_type_combined.drop_duplicates(['location'])
event_type_no_dups_id = event_type_combined.drop_duplicates(['id'])

In [44]:
print(event_type_no_dups.shape)
print(event_type_no_dups_id.shape)
print(event_type_combined.shape)

(1126, 4)
(18552, 4)
(31170, 4)

In [45]:
event_type_combined.head(3)

   fault_severity     id      location  event_type
0             1.0  14121  location 118          34
1             1.0  14121  location 118          35
2             0.0   9320   location 91          34

In [46]:
event_type_combined['location_number'] = event_type_combined['location'].map(lambda x: x[9:]).astype(int)

In [47]:
event_type_combined.sort_values(['location_number'])

       fault_severity     id       location  event_type  location_number
16854             NaN   7515     location 1          15                1
1553              1.0   3952     location 1          15                1
11182             0.0   2250     location 1          15                1
11183             0.0   2250     location 1          11                1
247               0.0   8011     location 1          15                1
12387             0.0   1849     location 1          15                1
12638             NaN    590     location 1          15                1
12788             NaN  12943     location 1          11                1
12789             NaN  12943     location 1          15                1
1431              0.0   5259     location 1          20                1
1554              1.0   3952     location 1          11                1
1430              0.0   5259     location 1          11                1
13279             NaN  10039     location 1          15                1
13308             NaN  10289     location 1          11                1
13309             NaN  10289     location 1          15                1
23428             NaN   1505     location 1          15                1
13480             NaN   4574     location 1          15                1
13810             NaN   6008     location 1          15                1
13811             NaN   6008     location 1          11                1
13851             NaN   4787     location 1          15                1
14574             NaN   2043     location 1          15                1
1429              0.0   5259     location 1          15                1
14698             NaN   3399     location 1          15                1
11050             0.0   6914     location 1          15                1
1567              0.0   5337     location 1          15                1
29768             NaN   6743     location 1          15                1
6067              0.0   2906     location 1          15                1
1943              1.0  15952     location 1          15                1
1942              1.0  15952     location 1          11                1
6864              1.0   5280     location 1          15                1
...               ...    ...            ...         ...              ...
9798              0.0   1005  location 1118          11             1118
5816              1.0   9470  location 1118          11             1118
12988             NaN  14897  location 1118          11             1118
15338             NaN  18456  location 1118          20             1118
19308             NaN   1973  location 1118          11             1118
5887              0.0   5587  location 1119          11             1119
23751             NaN   4022  location 1119          11             1119
22318             NaN  10794  location 1119          20             1119
22319             NaN  10794  location 1119          11             1119
1196              2.0  10478  location 1119          11             1119
15171             NaN   6870  location 1119          11             1119
9478              0.0    906  location 1120          11             1120
7312              1.0  15221  location 1120          11             1120
17539             NaN  13528  location 1120          11             1120
1675              1.0   8422  location 1120          11             1120
15234             NaN  10525  location 1120          11             1120
2630              0.0  12992  location 1120          11             1120
24790             NaN  10741  location 1121          11             1121
3979              1.0   7850  location 1121          20             1121
8592              1.0   3073  location 1121          20             1121
401               0.0   1697  location 1122          20             1122
28759             NaN   6343  location 1122          20             1122
12699             NaN  15289  location 1123          20             1123
21242             NaN  17719  location 1124          20             1124
880               1.0  14544  location 1125          20             1125
30491             NaN  13712  location 1125          11             1125
5890              0.0  11436  location 1126          20             1126
10695             0.0  13149  location 1126           8             1126
10694             0.0  13149  location 1126          20             1126
10696             0.0  13149  location 1126          11             1126

[31170 rows x 5 columns]

In [48]:
print(temp_combined.head(3))
print(log_feature.head(3))
print(event_type_no_dups_id[['id','event_type']].head(3))

   fault_severity     id      location
0             1.0  14121  location 118
1             0.0   9320   location 91
2             1.0  14394  location 152
     id  log_feature  volume  num_ids_with_log_feature  binned_log_feature  \
0  6597           68       6                      1093                   8
1  8011           68       7                      1093                   8
2  2597           68       1                      1093                   8

   binned_offset_log_feature  position_of_log_feature
0                          8                        1
1                          8                        1
2                          8                        1
      id  event_type
0  14121          34
2   9320          34
4  14394          35

In [49]:
log_combined = pd.merge(temp_combined, log_feature, how='left', left_on='id', right_on='id')
log_combined = pd.merge(log_combined, event_type_no_dups_id[['id', 'event_type']], how='left', left_on='id', right_on='id')

In [50]:
log_combined.head(4)

,fault_severity,id,location,log_feature,volume,num_ids_with_log_feature,binned_log_feature,binned_offset_log_feature,position_of_log_feature,event_type
0,1.0,14121,location 118,312,19,5267,33,32,1,34
1,1.0,14121,location 118,232,19,4754,25,24,2,34
2,0.0,9320,location 91,315,200,1495,33,32,1,34
3,0.0,9320,location 91,235,116,1294,25,24,2,34

In [51]:
# log_feature_unique_features_per_location
log_feature_unique_features_per_location_dict = log_combined.groupby(['location'])['log_feature'].nunique().to_dict()

In [52]:
log_combined[log_combined['location'] == 'location 1']['log_feature'].value_counts()

80     52
82     39
201    33
203    20
56     11
172     7
193     6
68      6
71      5
111     4
198     2
219     1
159     1
134     1
76      1
Name: log_feature, dtype: int64

In [53]:
log_feature_unique_features_per_location_dict['location 1']

15

In [54]:
most_common_event_dict = log_combined.groupby(['location'])['event_type'].agg(lambda x: x.value_counts().index[0]).to_dict()

In [55]:
most_common_feature_dict = log_combined.groupby(['location'])['log_feature'].agg(lambda x: x.value_counts().index[0]).to_dict()

In [56]:
mean_volume_dict = log_combined.groupby(['location'])['volume'].agg(lambda x: x.mean()).to_dict()
max_volume_dict = log_combined.groupby(['location'])['volume'].agg(lambda x: x.max()).to_dict()
std_log_feature_dict = log_combined.groupby(['location'])['log_feature'].agg(lambda x: x.std()).to_dict()

In [57]:
unique_locations_per_feature_dict = log_combined.groupby(['log_feature'])['location'].nunique().to_dict()

In [58]:
median_ids_with_feature_number_dict = log_combined.groupby(['location'])['num_ids_with_log_feature'].agg(lambda x: x.median()).to_dict()
median_feature_number_dict = log_combined.groupby(['location'])['log_feature'].agg(lambda x: x.median()).to_dict()

In [59]:
log_combined['location_number'] = log_combined['location'].map(lambda x:x[9:]).astype(int)

In [60]:
most_common_location_dict = log_combined.groupby(['log_feature'])['location_number'].agg(lambda x: x.value_counts().index[0]).to_dict()

In [61]:
log_combined.sort_index().sort_values(['location_number'])

,fault_severity,id,location,log_feature,volume,num_ids_with_log_feature,binned_log_feature,binned_offset_log_feature,position_of_log_feature,event_type,location_number
29006,NaN,282,location 1,80,3,1336,9,9,1,15,1
11679,0.0,2906,location 1,80,1,1336,9,9,1,15,1
29806,NaN,6693,location 1,80,2,1336,9,9,1,11,1
26422,NaN,4787,location 1,80,3,1336,9,9,1,15,1
45738,NaN,6597,location 1,68,6,1093,8,8,1,11,1
29807,NaN,6693,location 1,82,2,3472,10,9,2,11,1
54723,NaN,10460,location 1,80,5,1336,9,9,2,15,1
54722,NaN,10460,location 1,201,4,902,22,21,1,15,1
25401,NaN,10289,location 1,201,1,902,22,21,2,11,1
25400,NaN,10289,location 1,80,3,1336,9,9,1,11,1
13315,1.0,5280,location 1,172,2,214,19,18,1,15,1
28051,NaN,3399,location 1,201,2,902,22,21,2,15,1
19419,0.0,16097,location 1,56,1,244,7,7,2,11,1
28050,NaN,3399,location 1,80,2,1336,9,9,1,15,1
45464,NaN,16416,location 1,68,4,1093,8,8,1,15,1
25346,NaN,10039,location 1,80,1,1336,9,9,1,15,1
24167,NaN,590,location 1,80,3,1336,9,9,1,15,1
24168,NaN,590,location 1,201,2,902,22,21,2,15,1
44262,NaN,1505,location 1,201,3,902,22,21,1,15,1
55995,NaN,6743,location 1,80,1,1336,9,9,2,15,1
55994,NaN,6743,location 1,82,2,3472,10,9,1,15,1
19418,0.0,16097,location 1,172,1,214,19,18,1,11,1
13316,1.0,5280,location 1,82,6,3472,10,9,2,15,1
26354,NaN,6008,location 1,80,3,1336,9,9,4,15,1
26353,NaN,6008,location 1,82,4,3472,10,9,3,15,1
10818,1.0,1235,location 1,201,1,902,22,21,4,11,1
32127,NaN,7515,location 1,201,1,902,22,21,3,15,1
32126,NaN,7515,location 1,80,4,1336,9,9,2,15,1
32125,NaN,7515,location 1,82,2,3472,10,9,1,15,1
57131,NaN,8461,location 1,82,3,3472,10,9,2,15,1
...,...,...,...,...,...,...,...,...,...,...,...
14161,1.0,15221,location 1120,85,1,55,10,9,4,11,1120
3259,1.0,8422,location 1120,209,2,209,22,22,2,11,1120
5084,0.0,12992,location 1120,182,1,157,20,19,1,11,1120
5085,0.0,12992,location 1120,54,1,1573,7,6,2,11,1120
5086,0.0,12992,location 1120,170,11,1526,18,18,3,11,1120
5087,0.0,12992,location 1120,209,9,209,22,22,4,11,1120
33426,NaN,13528,location 1120,209,1,209,22,22,1,11,1120
29073,NaN,10525,location 1120,54,1,1573,7,6,1,11,1120
33427,NaN,13528,location 1120,87,2,207,10,10,2,11,1120
3258,1.0,8422,location 1120,87,3,207,10,10,1,11,1120
7658,1.0,7850,location 1121,134,1,1419,15,14,1,20,1121
46820,NaN,10741,location 1121,55,1,564,7,6,1,11,1121
16492,1.0,3073,location 1121,134,1,1419,15,14,2,20,1121
16491,1.0,3073,location 1121,219,1,1152,23,23,1,20,1121
54124,NaN,6343,location 1122,134,1,1419,15,14,1,20,1122
54125,NaN,6343,location 1122,219,1,1152,23,23,2,20,1122
768,0.0,1697,location 1122,219,1,1152,23,23,1,20,1122
24274,NaN,15289,location 1123,134,1,1419,15,14,2,20,1123
24273,NaN,15289,location 1123,219,1,1152,23,23,1,20,1123
40220,NaN,17719,location 1124,219,1,1152,23,23,1,20,1124
40221,NaN,17719,location 1124,134,1,1419,15,14,2,20,1124
1719,1.0,14544,location 1125,219,1,1152,23,23,1,20,1125
1720,1.0,14544,location 1125,134,1,1419,15,14,2,20,1125
57356,NaN,13712,location 1125,164,1,13,18,17,1,11,1125
20483,0.0,13149,location 1126,219,10,1152,23,23,2,20,1126
20482,0.0,13149,location 1126,134,10,1419,15,14,1,20,1126
20485,0.0,13149,location 1126,195,1,783,21,20,4,20,1126
11332,0.0,11436,location 1126,134,1,1419,15,14,2,20,1126
20484,0.0,13149,location 1126,73,1,868,9,8,3,20,1126
11331,0.0,11436,location 1126,219,1,1152,23,23,1,20,1126

In [62]:
log_feature['locations_per_feature'] = log_feature['log_feature'].map(unique_locations_per_feature_dict)
log_feature['most_common_location_of_log_feature'] = log_feature['log_feature'].map(most_common_location_dict)
log_feature['most_common_event_of_log_feature'] = log_feature['log_feature'].map(most_common_event_dict)

In [64]:
log_feature.head(3)

,id,log_feature,volume,num_ids_with_log_feature,binned_log_feature,binned_offset_log_feature,position_of_log_feature,locations_per_feature,most_common_location_of_log_feature,most_common_event_of_log_feature
0,6597,68,6,1093,8,8,1,225,1026,NaN
1,8011,68,7,1093,8,8,1,225,1026,NaN
2,2597,68,1,1093,8,8,1,225,1026,NaN

In [63]:
unique_locations_per_feature_dict[68]

225

In [70]:
# has_event_type_dict = {}
# event_grouped = event_type_combined.groupby(['location'])
print(event_type_combined[event_type_combined['location'] == 'location 1']['event_type'].value_counts())
print(event_type_combined['event_type'].unique())
event_type_combined.groupby(['location'])['event_type'].unique()

15    66
11    41
20     1
7      1
Name: event_type, dtype: int64
[34 35 15 11 36 20 50 54  2 13 14 44 45 43 42 23 10 22 18  5  3 21 29 40
 39 24 26  7 32 47 46 27 28 49 53  9 38  8 41 30 37  6  1 31 51 12 19 48
 25 52 33 17  4]

location
location 1                     [15, 11, 20, 7]
location 10                               [11]
location 100                  [34, 35, 20, 11]
location 1000                         [20, 11]
location 1001                             [20]
location 1002                             [20]
location 1003                             [20]
location 1004                             [20]
location 1005                             [20]
location 1006                      [11, 20, 9]
location 1007              [11, 15, 54, 2, 20]
location 1008               [15, 11, 1, 6, 20]
location 1009                     [11, 30, 29]
location 101                          [35, 34]
location 1010                         [11, 20]
location 1011                 [20, 11, 30, 29]
location 1012                         [15, 20]
location 1013               [15, 20, 11, 6, 7]
location 1014     [13, 22, 11, 14, 23, 18, 20]
location 1015                         [11, 20]
location 1016                             [11]
location 1017                     [11, 20, 32]
location 1018              [11, 15, 2, 54, 20]
location 1019      [15, 11, 3, 7, 5, 6, 20, 2]
location 102                      [34, 35, 20]
location 1020              [11, 2, 28, 27, 20]
location 1021                         [11, 20]
location 1022                         [11, 20]
location 1023                  [29, 7, 11, 30]
location 1024                         [11, 20]
                             ...
location 972          [11, 32, 23, 31, 22, 20]
location 973                          [20, 11]
location 974                      [11, 20, 21]
location 975                              [20]
location 976                   [54, 15, 11, 5]
location 977          [30, 26, 20, 29, 11, 10]
location 978              [15, 11, 10, 54, 20]
location 979                    [20, 7, 11, 6]
location 98                               [34]
location 980                      [11, 20, 15]
location 981                      [20, 29, 11]
location 982                              [15]
location 983                      [11, 15, 38]
location 984              [20, 13, 14, 23, 11]
location 985                              [20]
location 986                          [11, 20]
location 987                      [20, 15, 11]
location 988                  [15, 32, 11, 20]
location 989                           [11, 2]
location 99                       [35, 34, 20]
location 990                              [11]
location 991                          [11, 32]
location 992                              [20]
location 993                              [20]
location 994                          [11, 20]
location 995     [15, 11, 6, 54, 7, 5, 20, 21]
location 996                          [11, 15]
location 997                          [11, 14]
location 998                          [11, 20]
location 999                          [11, 20]
Name: event_type, Length: 1126, dtype: object

In [71]:
has_event_type_dict = {}
event_group = event_type_combined.groupby(['location'])
for i in event_type_combined['event_type'].unique():
    has_event_type_dict[i] = event_group['event_type'].agg(lambda x: 1 if i in x.values else 0).to_dict()

In [72]:
has_event_type_dict[15]

{'location 1': 1,
 'location 10': 0,
 'location 100': 0,
 'location 1000': 0,
 'location 1001': 0,
 'location 1002': 0,
 'location 1003': 0,
 'location 1004': 0,
 'location 1005': 0,
 'location 1006': 0,
 'location 1007': 1,
 'location 1008': 1,
 'location 1009': 0,
 'location 101': 0,
 'location 1010': 0,
 'location 1011': 0,
 'location 1012': 1,
 'location 1013': 1,
 'location 1014': 0,
 'location 1015': 0,
 'location 1016': 0,
 'location 1017': 0,
 'location 1018': 1,
 'location 1019': 1,
 'location 102': 0,
 'location 1020': 0,
 'location 1021': 0,
 'location 1022': 0,
 'location 1023': 0,
 'location 1024': 0,
 'location 1025': 1,
 'location 1026': 0,
 'location 1027': 0,
 'location 1028': 1,
 'location 1029': 0,
 'location 103': 0,
 'location 1030': 0,
 'location 1031': 0,
 'location 1032': 0,
 'location 1033': 0,
 'location 1034': 0,
 'location 1035': 0,
 'location 1036': 1,
 'location 1037': 0,
 'location 1038': 0,
 'location 1039': 0,
 'location 104': 0,
 'location 1040': 0,
 'location 1041': 0,
 'location 1042': 1,
 'location 1043': 0,
 'location 1044': 0,
 'location 1045': 1,
 'location 1046': 0,
 'location 1047': 0,
 'location 1048': 0,
 'location 1049': 0,
 'location 105': 0,
 'location 1050': 0,
 'location 1051': 0,
 'location 1052': 1,
 'location 1053': 1,
 'location 1054': 0,
 'location 1055': 1,
 'location 1056': 0,
 'location 1057': 0,
 'location 1058': 0,
 'location 1059': 0,
 'location 106': 0,
 'location 1060': 0,
 'location 1061': 1,
 'location 1062': 1,
 'location 1063': 0,
 'location 1064': 0,
 'location 1065': 0,
 'location 1066': 0,
 'location 1067': 0,
 'location 1068': 0,
 'location 1069': 0,
 'location 107': 0,
 'location 1070': 0,
 'location 1071': 1,
 'location 1072': 0,
 'location 1073': 0,
 'location 1074': 1,
 'location 1075': 1,
 'location 1076': 1,
 'location 1077': 0,
 'location 1078': 0,
 'location 1079': 0,
 'location 108': 0,
 'location 1080': 0,
 'location 1081': 1,
 'location 1082': 0,
 'location 1083': 0,
 'location 1084': 0,
 'location 1085': 0,
 'location 1086': 1,
 'location 1087': 1,
 'location 1088': 0,
 'location 1089': 0,
 'location 109': 0,
 'location 1090': 0,
 'location 1091': 0,
 'location 1092': 0,
 'location 1093': 0,
 'location 1094': 1,
 'location 1095': 0,
 'location 1096': 0,
 'location 1097': 0,
 'location 1098': 0,
 'location 1099': 0,
 'location 11': 0,
 'location 110': 0,
 'location 1100': 1,
 'location 1101': 1,
 'location 1102': 0,
 'location 1103': 1,
 'location 1104': 1,
 'location 1105': 0,
 'location 1106': 0,
 'location 1107': 1,
 'location 1108': 1,
 'location 1109': 0,
 'location 111': 0,
 'location 1110': 0,
 'location 1111': 0,
 'location 1112': 0,
 'location 1113': 0,
 'location 1114': 0,
 'location 1115': 0,
 'location 1116': 0,
 'location 1117': 0,
 'location 1118': 0,
 'location 1119': 0,
 'location 112': 0,
 'location 1120': 0,
 'location 1121': 0,
 'location 1122': 0,
 'location 1123': 0,
 'location 1124': 0,
 'location 1125': 0,
 'location 1126': 0,
 'location 113': 0,
 'location 114': 0,
 'location 115': 0,
 'location 116': 0,
 'location 117': 0,
 'location 118': 0,
 'location 119': 0,
 'location 12': 1,
 'location 120': 0,
 'location 121': 0,
 'location 122': 0,
 'location 123': 0,
 'location 124': 0,
 'location 125': 0,
 'location 126': 0,
 'location 127': 0,
 'location 128': 0,
 'location 129': 0,
 'location 13': 0,
 'location 130': 0,
 'location 131': 0,
 'location 132': 0,
 'location 133': 0,
 'location 134': 0,
 'location 135': 0,
 'location 136': 0,
 'location 137': 0,
 'location 138': 0,
 'location 139': 0,
 'location 14': 0,
 'location 140': 0,
 'location 141': 0,
 'location 142': 0,
 'location 143': 0,
 'location 144': 0,
 'location 145': 0,
 'location 146': 0,
 'location 147': 0,
 'location 148': 0,
 'location 149': 0,
 'location 15': 0,
 'location 150': 0,
 'location 151': 0,
 'location 152': 0,
 'location 153': 0,
 'location 154': 0,
 'location 155': 0,
 'location 156': 0,
 'location 157': 0,
 'location 158': 0,
 'location 159': 0,
 'location 16': 0,
 'location 160': 0,
 'location 161': 0,
 'location 162': 0,
 'location 163': 0,
 'location 164': 0,
 'location 165': 0,
 'location 166': 0,
 'location 167': 0,
 'location 168': 0,
 'location 169': 0,
 'location 17': 0,
 'location 170': 0,
 'location 171': 0,
 'location 172': 0,
 'location 173': 0,
 'location 174': 0,
 'location 175': 0,
 'location 176': 0,
 'location 177': 0,
 'location 178': 0,
 'location 179': 0,
 'location 18': 0,
 'location 180': 0,
 'location 181': 0,
 'location 182': 0,
 'location 183': 0,
 'location 184': 0,
 'location 185': 0,
 'location 186': 0,
 'location 187': 0,
 'location 188': 0,
 'location 189': 0,
 'location 19': 0,
 'location 190': 0,
 'location 191': 0,
 'location 192': 0,
 'location 193': 0,
 'location 194': 0,
 'location 195': 0,
 'location 196': 0,
 'location 197': 0,
 'location 198': 0,
 'location 199': 0,
 'location 2': 0,
 'location 20': 0,
 'location 200': 0,
 'location 201': 0,
 'location 202': 0,
 'location 203': 0,
 'location 204': 0,
 'location 205': 0,
 'location 206': 0,
 'location 207': 0,
 'location 208': 0,
 'location 209': 0,
 'location 21': 0,
 'location 210': 0,
 'location 211': 0,
 'location 212': 0,
 'location 213': 0,
 'location 214': 0,
 'location 215': 0,
 'location 216': 0,
 'location 217': 0,
 'location 218': 0,
 'location 219': 0,
 'location 22': 0,
 'location 220': 0,
 'location 221': 0,
 'location 222': 0,
 'location 223': 0,
 'location 224': 0,
 'location 225': 0,
 'location 226': 0,
 'location 227': 0,
 'location 228': 0,
 'location 229': 0,
 'location 23': 0,
 'location 230': 0,
 'location 231': 0,
 'location 232': 0,
 'location 233': 0,
 'location 234': 0,
 'location 235': 0,
 'location 236': 0,
 'location 237': 0,
 'location 238': 0,
 'location 239': 0,
 'location 24': 0,
 'location 240': 0,
 'location 241': 0,
 'location 242': 0,
 'location 243': 0,
 'location 244': 0,
 'location 245': 0,
 'location 246': 0,
 'location 247': 0,
 'location 248': 0,
 'location 249': 0,
 'location 25': 0,
 'location 250': 0,
 'location 251': 0,
 'location 252': 0,
 'location 253': 0,
 'location 254': 0,
 'location 255': 0,
 'location 256': 0,
 'location 257': 0,
 'location 258': 0,
 'location 259': 0,
 'location 26': 0,
 'location 260': 0,
 'location 261': 0,
 'location 262': 0,
 'location 263': 0,
 'location 264': 0,
 'location 265': 0,
 'location 266': 0,
 'location 267': 0,
 'location 268': 0,
 'location 269': 0,
 'location 27': 0,
 'location 270': 0,
 'location 271': 0,
 'location 272': 0,
 'location 273': 0,
 'location 274': 0,
 'location 275': 0,
 'location 276': 0,
 'location 277': 0,
 'location 278': 0,
 'location 279': 0,
 'location 28': 0,
 'location 280': 0,
 'location 281': 0,
 'location 282': 0,
 'location 283': 0,
 'location 284': 0,
 'location 285': 0,
 'location 286': 0,
 'location 287': 0,
 'location 288': 0,
 'location 289': 0,
 'location 29': 0,
 'location 290': 0,
 'location 291': 0,
 'location 292': 0,
 'location 293': 0,
 'location 294': 0,
 'location 295': 0,
 'location 296': 0,
 'location 297': 0,
 'location 298': 0,
 'location 299': 0,
 'location 3': 0,
 'location 30': 0,
 'location 300': 0,
 'location 301': 0,
 'location 302': 0,
 'location 303': 0,
 'location 304': 0,
 'location 305': 0,
 'location 306': 0,
 'location 307': 0,
 'location 308': 0,
 'location 309': 0,
 'location 31': 0,
 'location 310': 0,
 'location 311': 0,
 'location 312': 0,
 'location 313': 0,
 'location 314': 0,
 'location 315': 0,
 'location 316': 0,
 'location 317': 0,
 'location 318': 0,
 'location 319': 0,
 'location 32': 0,
 'location 320': 0,
 'location 321': 0,
 'location 322': 0,
 'location 323': 0,
 'location 324': 0,
 'location 325': 0,
 'location 326': 0,
 'location 327': 0,
 'location 328': 0,
 'location 329': 0,
 'location 33': 0,
 'location 330': 0,
 'location 331': 0,
 'location 332': 0,
 'location 333': 0,
 'location 334': 0,
 'location 335': 0,
 'location 336': 0,
 'location 337': 0,
 'location 338': 0,
 'location 339': 0,
 'location 34': 0,
 'location 340': 0,
 'location 341': 0,
 'location 342': 0,
 'location 343': 0,
 'location 344': 0,
 'location 345': 0,
 'location 346': 0,
 'location 347': 0,
 'location 348': 0,
 'location 349': 0,
 'location 35': 0,
 'location 350': 0,
 'location 351': 0,
 'location 352': 0,
 'location 353': 0,
 'location 354': 0,
 'location 355': 0,
 'location 356': 0,
 'location 357': 0,
 'location 358': 0,
 'location 359': 0,
 'location 36': 0,
 'location 360': 0,
 'location 361': 0,
 'location 362': 0,
 'location 363': 0,
 'location 364': 0,
 'location 365': 0,
 'location 366': 0,
 'location 367': 0,
 'location 368': 0,
 'location 369': 0,
 'location 37': 0,
 'location 370': 0,
 'location 371': 0,
 'location 372': 0,
 'location 373': 0,
 'location 374': 0,
 'location 375': 0,
 'location 376': 0,
 'location 377': 0,
 'location 378': 0,
 'location 379': 0,
 'location 38': 0,
 'location 380': 0,
 'location 381': 0,
 'location 382': 0,
 'location 383': 0,
 'location 384': 0,
 'location 385': 0,
 'location 386': 0,
 'location 387': 0,
 'location 388': 0,
 'location 389': 0,
 'location 39': 0,
 'location 390': 0,
 'location 391': 0,
 'location 392': 0,
 'location 393': 0,
 'location 394': 0,
 'location 395': 0,
 'location 396': 0,
 'location 397': 0,
 'location 398': 0,
 'location 399': 0,
 'location 4': 0,
 'location 40': 0,
 'location 400': 0,
 'location 401': 0,
 'location 402': 0,
 'location 403': 0,
 'location 404': 0,
 'location 405': 0,
 'location 406': 0,
 'location 407': 0,
 'location 408': 0,
 'location 409': 0,
 'location 41': 0,
 'location 410': 0,
 'location 411': 0,
 'location 412': 0,
 'location 413': 0,
 'location 414': 0,
 'location 415': 0,
 'location 416': 0,
 'location 417': 0,
 'location 418': 0,
 'location 419': 0,
 'location 42': 0,
 'location 420': 0,
 'location 421': 0,
 'location 422': 0,
 'location 423': 0,
 'location 424': 0,
 'location 425': 0,
 'location 426': 0,
 'location 427': 0,
 'location 428': 0,
 'location 429': 0,
 'location 43': 0,
 'location 430': 0,
 'location 431': 0,
 'location 432': 0,
 'location 433': 0,
 'location 434': 0,
 'location 435': 0,
 'location 436': 0,
 'location 437': 0,
 'location 438': 0,
 'location 439': 0,
 'location 44': 0,
 'location 440': 0,
 'location 441': 0,
 'location 442': 0,
 'location 443': 0,
 'location 444': 0,
 'location 445': 0,
 'location 446': 0,
 'location 447': 0,
 'location 448': 0,
 'location 449': 0,
 'location 45': 0,
 'location 450': 0,
 'location 451': 0,
 'location 452': 0,
 'location 453': 0,
 'location 454': 0,
 'location 455': 0,
 'location 456': 0,
 'location 457': 0,
 'location 458': 0,
 'location 459': 0,
 'location 46': 0,
 'location 460': 0,
 'location 461': 0,
 'location 462': 0,
 'location 463': 0,
 'location 464': 0,
 'location 465': 0,
 'location 466': 0,
 'location 467': 0,
 'location 468': 0,
 'location 469': 0,
 'location 47': 0,
 'location 470': 0,
 'location 471': 0,
 'location 472': 0,
 'location 473': 0,
 'location 474': 0,
 'location 475': 0,
 'location 476': 0,
 'location 477': 0,
 'location 478': 0,
 'location 479': 0,
 'location 48': 0,
 'location 480': 0,
 'location 481': 0,
 'location 482': 0,
 'location 483': 0,
 'location 484': 0,
 'location 485': 0,
 'location 486': 0,
 'location 487': 0,
 'location 488': 0,
 'location 489': 0,
 'location 49': 0,
 'location 490': 0,
 'location 491': 0,
 'location 492': 0,
 'location 493': 0,
 'location 494': 0,
 'location 495': 0,
 'location 496': 0,
 'location 497': 0,
 'location 498': 0,
 'location 499': 0,
 'location 5': 0,
 'location 50': 0,
 'location 500': 0,
 'location 501': 0,
 'location 502': 0,
 'location 503': 0,
 'location 504': 0,
 'location 505': 0,
 'location 506': 0,
 'location 507': 0,
 'location 508': 0,
 'location 509': 0,
 'location 51': 0,
 'location 510': 0,
 'location 511': 0,
 'location 512': 0,
 'location 513': 0,
 'location 514': 0,
 'location 515': 0,
 'location 516': 0,
 'location 517': 0,
 'location 518': 0,
 'location 519': 0,
 'location 52': 0,
 'location 520': 0,
 'location 521': 0,
 'location 522': 0,
 'location 523': 0,
 'location 524': 0,
 'location 525': 0,
 'location 526': 0,
 'location 527': 0,
 'location 528': 0,
 'location 529': 0,
 'location 53': 0,
 'location 530': 0,
 'location 531': 0,
 'location 532': 0,
 'location 533': 0,
 'location 534': 0,
 'location 535': 0,
 'location 536': 0,
 'location 537': 0,
 'location 538': 0,
 'location 539': 0,
 'location 54': 0,
 'location 540': 0,
 'location 541': 0,
 'location 542': 0,
 'location 543': 0,
 'location 544': 0,
 'location 545': 0,
 'location 546': 0,
 'location 547': 0,
 'location 548': 0,
 'location 549': 0,
 'location 55': 0,
 'location 550': 0,
 'location 551': 0,
 'location 552': 0,
 'location 553': 0,
 'location 554': 0,
 'location 555': 0,
 'location 556': 0,
 'location 557': 0,
 'location 558': 0,
 'location 559': 0,
 'location 56': 0,
 'location 560': 0,
 'location 561': 0,
 'location 562': 0,
 'location 563': 0,
 'location 564': 0,
 'location 565': 0,
 'location 566': 0,
 'location 567': 0,
 'location 568': 0,
 'location 569': 0,
 'location 57': 0,
 'location 570': 0,
 'location 571': 0,
 'location 572': 0,
 'location 573': 0,
 'location 574': 0,
 'location 575': 0,
 'location 576': 0,
 'location 577': 0,
 'location 578': 0,
 'location 579': 0,
 'location 58': 0,
 'location 580': 0,
 'location 581': 1,
 'location 582': 0,
 'location 583': 0,
 'location 584': 0,
 'location 585': 0,
 'location 586': 0,
 'location 587': 0,
 'location 588': 0,
 'location 589': 0,
 'location 59': 0,
 'location 590': 0,
 'location 591': 0,
 'location 592': 0,
 'location 593': 0,
 'location 594': 0,
 'location 595': 0,
 'location 596': 0,
 'location 597': 0,
 'location 598': 0,
 'location 599': 1,
 'location 6': 0,
 'location 60': 0,
 'location 600': 1,
 'location 601': 0,
 'location 602': 0,
 'location 603': 0,
 'location 604': 0,
 'location 605': 0,
 'location 606': 0,
 'location 607': 0,
 'location 608': 0,
 'location 609': 0,
 'location 61': 0,
 'location 610': 0,
 'location 611': 0,
 'location 612': 0,
 'location 613': 1,
 'location 614': 1,
 'location 615': 0,
 'location 616': 0,
 'location 617': 0,
 'location 618': 0,
 'location 619': 0,
 'location 62': 0,
 'location 620': 0,
 'location 621': 0,
 'location 622': 0,
 'location 623': 0,
 'location 624': 0,
 'location 625': 0,
 'location 626': 0,
 'location 627': 0,
 'location 628': 0,
 'location 629': 0,
 'location 63': 0,
 'location 630': 0,
 'location 631': 0,
 'location 632': 0,
 'location 633': 0,
 'location 634': 0,
 'location 635': 0,
 'location 636': 0,
 'location 637': 0,
 'location 638': 0,
 'location 639': 0,
 'location 64': 0,
 'location 640': 0,
 'location 641': 0,
 'location 642': 0,
 'location 643': 0,
 'location 644': 0,
 'location 645': 0,
 'location 646': 0,
 'location 647': 0,
 'location 648': 0,
 'location 649': 0,
 'location 65': 0,
 'location 650': 0,
 'location 651': 0,
 'location 652': 1,
 'location 653': 1,
 'location 654': 0,
 'location 655': 1,
 'location 656': 0,
 'location 657': 0,
 'location 658': 0,
 'location 659': 0,
 'location 66': 0,
 'location 660': 0,
 'location 661': 0,
 'location 662': 0,
 'location 663': 0,
 'location 664': 0,
 'location 665': 0,
 'location 666': 0,
 'location 667': 0,
 'location 668': 0,
 'location 669': 0,
 'location 67': 0,
 'location 670': 0,
 'location 671': 0,
 'location 672': 0,
 'location 673': 0,
 'location 674': 0,
 'location 675': 0,
 'location 676': 0,
 'location 677': 0,
 'location 678': 0,
 'location 679': 0,
 'location 68': 0,
 'location 680': 0,
 'location 681': 0,
 'location 682': 0,
 'location 683': 0,
 'location 684': 1,
 'location 685': 0,
 'location 686': 0,
 'location 687': 0,
 'location 688': 0,
 'location 689': 0,
 'location 69': 0,
 'location 690': 0,
 'location 691': 0,
 'location 692': 0,
 'location 693': 0,
 'location 694': 0,
 'location 695': 0,
 'location 696': 0,
 'location 697': 1,
 'location 698': 1,
 'location 699': 0,
 'location 7': 0,
 'location 70': 0,
 'location 700': 0,
 'location 701': 0,
 'location 702': 0,
 'location 703': 0,
 'location 704': 1,
 'location 705': 0,
 'location 706': 0,
 'location 707': 1,
 'location 708': 0,
 'location 709': 0,
 'location 71': 0,
 'location 710': 0,
 'location 711': 1,
 'location 712': 1,
 'location 713': 1,
 'location 714': 0,
 'location 715': 0,
 'location 716': 0,
 'location 717': 0,
 'location 718': 0,
 'location 719': 0,
 'location 72': 0,
 'location 720': 0,
 'location 721': 0,
 'location 722': 0,
 'location 723': 0,
 'location 724': 0,
 'location 725': 0,
 'location 726': 0,
 'location 727': 0,
 'location 728': 0,
 'location 729': 0,
 'location 73': 0,
 'location 730': 0,
 'location 731': 0,
 'location 732': 0,
 'location 733': 0,
 'location 734': 1,
 'location 735': 0,
 'location 736': 0,
 'location 737': 0,
 'location 738': 1,
 'location 739': 1,
 'location 74': 0,
 'location 740': 0,
 'location 741': 1,
 'location 742': 1,
 'location 743': 1,
 'location 744': 0,
 'location 745': 0,
 'location 746': 0,
 'location 747': 0,
 'location 748': 0,
 'location 749': 0,
 'location 75': 0,
 'location 750': 0,
 'location 751': 0,
 'location 752': 0,
 'location 753': 0,
 'location 754': 0,
 'location 755': 0,
 'location 756': 0,
 'location 757': 0,
 'location 758': 0,
 'location 759': 0,
 'location 76': 0,
 'location 760': 0,
 'location 761': 0,
 'location 762': 0,
 'location 763': 1,
 'location 764': 0,
 'location 765': 0,
 'location 766': 1,
 'location 767': 0,
 'location 768': 0,
 'location 769': 0,
 'location 77': 0,
 'location 770': 1,
 'location 771': 1,
 'location 772': 0,
 'location 773': 1,
 'location 774': 1,
 'location 775': 1,
 'location 776': 0,
 'location 777': 1,
 'location 778': 1,
 'location 779': 1,
 'location 78': 0,
 'location 780': 1,
 'location 781': 0,
 'location 782': 0,
 'location 783': 0,
 'location 784': 1,
 'location 785': 0,
 'location 786': 0,
 'location 787': 0,
 'location 788': 0,
 'location 789': 0,
 'location 79': 0,
 'location 790': 0,
 'location 791': 0,
 'location 792': 0,
 'location 793': 0,
 'location 794': 0,
 'location 795': 1,
 'location 796': 0,
 'location 797': 0,
 'location 798': 1,
 'location 799': 1,
 'location 8': 1,
 'location 80': 0,
 'location 800': 0,
 'location 801': 1,
 'location 802': 0,
 'location 803': 0,
 'location 804': 0,
 'location 805': 0,
 'location 806': 0,
 'location 807': 0,
 'location 808': 1,
 'location 809': 1,
 'location 81': 0,
 'location 810': 1,
 'location 811': 0,
 'location 812': 0,
 'location 813': 1,
 'location 814': 0,
 'location 815': 0,
 'location 816': 0,
 'location 817': 1,
 'location 818': 0,
 'location 819': 0,
 'location 82': 0,
 'location 820': 0,
 'location 821': 1,
 'location 822': 1,
 'location 823': 1,
 'location 824': 0,
 'location 825': 1,
 'location 826': 0,
 'location 827': 0,
 'location 828': 1,
 'location 829': 0,
 'location 83': 0,
 'location 830': 0,
 'location 831': 0,
 'location 832': 0,
 'location 833': 0,
 'location 834': 1,
 'location 835': 1,
 'location 836': 0,
 'location 837': 0,
 'location 838': 0,
 'location 839': 0,
 'location 84': 0,
 'location 840': 0,
 'location 841': 0,
 'location 842': 0,
 'location 843': 0,
 'location 844': 0,
 'location 845': 1,
 'location 846': 1,
 'location 847': 0,
 'location 848': 0,
 'location 849': 0,
 'location 85': 0,
 'location 850': 0,
 'location 851': 0,
 'location 852': 0,
 'location 853': 0,
 'location 854': 0,
 'location 855': 0,
 'location 856': 0,
 'location 857': 0,
 'location 858': 1,
 'location 859': 0,
 'location 86': 0,
 'location 860': 0,
 'location 861': 0,
 'location 862': 0,
 'location 863': 0,
 'location 864': 0,
 'location 865': 0,
 'location 866': 0,
 'location 867': 0,
 'location 868': 0,
 'location 869': 0,
 'location 87': 0,
 'location 870': 0,
 'location 871': 0,
 'location 872': 0,
 'location 873': 0,
 'location 874': 0,
 'location 875': 0,
 'location 876': 0,
 'location 877': 1,
 'location 878': 0,
 'location 879': 0,
 'location 88': 0,
 'location 880': 1,
 'location 881': 0,
 'location 882': 0,
 'location 883': 0,

In [73]:
event_type_number_dict = event_type_combined.groupby(['location'])['event_type'].agg(lambda x: x.nunique()).to_dict()

In [74]:
event_type_no_dups = event_type_combined.drop_duplicates('id')

In [75]:
print(temp_combined.head(3))
resource_type.head(3)

   fault_severity     id      location
0             1.0  14121  location 118
1             0.0   9320   location 91
2             1.0  14394  location 152

,id,resource_type,resource_shifted_up,is_next_resource_type_repeat,is_next_resource_type_different,switches_resource_type
0,6597,8,8.0,1,0,0
1,8011,8,8.0,1,0,0
2,2597,8,8.0,1,0,0

In [76]:
resource_type_combined = pd.merge(temp_combined, resource_type, how='left', left_on=['id'], right_on=['id'])

In [77]:
most_common_resource_type_dict = resource_type_combined.groupby(['location'])['resource_type'].agg(lambda x: x.value_counts().index[0]).to_dict()
std_resource_type_idct = resource_type_combined.groupby(['location'])['resource_type'].agg(lambda x: x.std()).to_dict()
resource_type_number_dict = resource_type_combined.groupby(['location'])['resource_type'].agg(lambda x: x.nunique()).to_dict()

In [78]:
resource_type.head(3)

,id,resource_type,resource_shifted_up,is_next_resource_type_repeat,is_next_resource_type_different,switches_resource_type
0,6597,8,8.0,1,0,0
1,8011,8,8.0,1,0,0
2,2597,8,8.0,1,0,0

In [82]:
has_resource_type_dict = {}
resource_grouped = resource_type_combined.groupby(['location'])
for i in resource_type_combined.resource_type.unique():
    has_resource_type_dict[i] = resource_grouped['resource_type'].agg(lambda x: 1 if i in x.values else 0).to_dict()

In [83]:
severity_type_combined = pd.merge(temp_combined, severity_type, how='left', left_on='id', right_on='id')

In [89]:
log_feature_dummies = pd.get_dummies(log_feature, columns=['log_feature', 
                                                           'most_common_location_of_log_feature',
                                                           'binned_log_feature', 
                                                           'binned_offset_log_feature'])

In [93]:
#log_feature_dummies_cols = [col for col in list(log_feature_dummies) if col.startswith('log_feature_')]
log_feature_dummies.columns

Index(['id', 'volume', 'num_ids_with_log_feature', 'position_of_log_feature',
       'locations_per_feature', 'most_common_event_of_log_feature',
       'log_feature_1', 'log_feature_2', 'log_feature_3', 'log_feature_4',
       ...
       'binned_offset_log_feature_31', 'binned_offset_log_feature_32',
       'binned_offset_log_feature_33', 'binned_offset_log_feature_34',
       'binned_offset_log_feature_35', 'binned_offset_log_feature_36',
       'binned_offset_log_feature_37', 'binned_offset_log_feature_38',
       'binned_offset_log_feature_39', 'binned_offset_log_feature_40'],
      dtype='object', length=634)

In [92]:
log_feature.columns

Index(['id', 'log_feature', 'volume', 'num_ids_with_log_feature',
       'binned_log_feature', 'binned_offset_log_feature',
       'position_of_log_feature', 'locations_per_feature',
       'most_common_location_of_log_feature',
       'most_common_event_of_log_feature'],
      dtype='object')